@import '../breakpoints';

.editProfileForm {
    display: flex;
        flex-direction: column;
        margin: auto auto;
        align-items: center;
    .editProfileName {
        label{
            margin-right: 1rem;
        }
        input {
            width: 200px;
                height: 1.5rem;
            border: 2px solid rgb(119, 155, 27);
            border-radius: 5px;
            padding: 0.2rem 0.2rem;
        }
    }
    .editProfileEmail {
        margin-top: 1rem;
        label{
            margin-right: 1rem;
        }
        input {
            width: 200px;
                height: 1.5rem;
            border: 2px solid rgb(119, 155, 27);
            border-radius: 5px;
            padding: 0.2rem 0.2rem;
        }
    }
    input[type="submit"]{
        margin: 2rem 0.5rem;
            background-color: rgb(190, 223, 107);
            border: 1px solid rgb(190, 223, 107);
            border-radius: 10px;
            color: black;
            font-size: 1rem;
            font-weight: 600;
            height: 40px;
            width: 200px;
            cursor: pointer;
    }
}